tests/*.tmp
tests/*.tmp2
tests/*log.history
tests/gvn_cmd.sh
tests/test_*
bin/__pycache__/
*.pyc
*~
check.sh
doc/uml/*.jar
evaluation/git/test
evaluation/git/run.expanded.log
evaluation/git/run.reduced.log
evaluation/gvn/test
evaluation/gvn/run.expanded.log
evaluation/gvn/run.reduced.log

